.container {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#timer {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
}

#quiz {
	display: none;
}

#result {
	font-size: 36px;
	display: none;
}
